/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --rec-thumbler: block;
  --page_background-color: #000028;
  --edge-color: #FF0070;
  --accent-color: #FF0070;
  --bg-picture: url("../images/cover-image-dark.png");
  --text-color: #FF0070;
  --border-color: #FF0070;
  --hover-color: #FF007066;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --article-background-color: #FF0070;
  --article-text-color: #000028;
  --card_title-color: #FF0070;
  --card_background-article-title: #FF0070;
  --card_article-title-color: #000028;
  --card_text-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
